In [ ]:
!pip install wikipedia2vec

Collecting wikipedia2vec
  Downloading https://files.pythonhosted.org/packages/d8/88/751037c70ca86581d444824e66bb799ef9060339a1d5d1fc1804c422d7cc/wikipedia2vec-1.0.4.tar.gz (1.2MB)
     |████████████████████████████████| 1.2MB 2.6MB/s
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (7.1.2)
Requirement already satisfied: jieba in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (0.42.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (0.16.0)
Requirement already satisfied: lmdb in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (0.98)
Collecting marisa-trie
  Downloading https://files.pythonhosted.org/packages/20/95/d23071d0992dabcb61c948fb118a90683193befc88c23e745b050a29e7db/marisa-trie-0.7.5.tar.gz (270kB)
     |████████████████████████████████| 276kB 17.5MB/s
Collecting mwparserfromhell
  Downloading https://files.pythonhosted.org/packages/23/03/4fb04da533c7e237c0104151c028d8bff856293d34e51d208c529696fb79/mwparserfromhell-0.5.4.tar.gz (135kB)
     |████████████████████████████████| 143kB 19.7MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from wikipedia2vec) (4.41.1)
Building wheels for collected packages: wikipedia2vec, marisa-trie, mwparserfromhell
  Building wheel for wikipedia2vec (setup.py) ... done
  Created wheel for wikipedia2vec: filename=wikipedia2vec-1.0.4-cp36-cp36m-linux_x86_64.whl size=4581849 sha256=1c07a6ac5df54354f138cdc2112896a7bd4218ae6a8aaeabbaa2771e415bc04d
  Stored in directory: /root/.cache/pip/wheels/16/e7/02/852c8ce366cc10adcf5d43c6471bbf926dd15c277578c13184
  Building wheel for marisa-trie (setup.py) ... done
  Created wheel for marisa-trie: filename=marisa_trie-0.7.5-cp36-cp36m-linux_x86_64.whl size=862153 sha256=89294bea02408af6ff397a5707759ae469c6fdea6b2495767727e43908978b71
  Stored in directory: /root/.cache/pip/wheels/45/24/79/022624fc914f0e559fe8a1141aaff1f9df810905a13fc75d57
  Building wheel for mwparserfromhell (setup.py) ... done
  Created wheel for mwparserfromhell: filename=mwparserfromhell-0.5.4-cp36-cp36m-linux_x86_64.whl size=183766 sha256=13fd990eafca73b724baa6e12faef30d78e586f0fce00fae44caad5dccbea770
  Stored in directory: /root/.cache/pip/wheels/2a/76/d5/7088b941df3b362c45dd7912dd05314bc034751ec9cbca9a75
Successfully built wikipedia2vec marisa-trie mwparserfromhell
Installing collected packages: marisa-trie, mwparserfromhell, wikipedia2vec
Successfully installed marisa-trie-0.7.5 mwparserfromhell-0.5.4 wikipedia2vec-1.0.4

In [ ]:
# File "enwiki_20180420_100d.pkl" is available in the Wikipedia2Vec website
from wikipedia2vec import Wikipedia2Vec
wiki2vec = Wikipedia2Vec.load("enwiki_20180420_100d.pkl")

In [ ]:
import pandas as pd
dataset = 2

if dataset == 1:
  df = pd.read_csv("drugsComTest_raw.csv")
elif dataset == 2:
  df = pd.read_csv("wiki_movie_plots_deduped.csv")
#elif dataset == 3:
#  df = pd.read_csv("uci_news.csv")

df

           ID  ...     TIMESTAMP
0      2894.0  ...  1.394530e+12
1      2273.0  ...  1.394520e+12
2     12232.0  ...  1.394723e+12
3      4386.0  ...  1.394562e+12
4      8204.0  ...  1.394626e+12
...       ...  ...           ...
2795   1496.0  ...  1.394503e+12
2796   4553.0  ...  1.394566e+12
2797   1123.0  ...  1.394499e+12
2798    133.0  ...  1.394472e+12
2799  15405.0  ...  1.395066e+12

[2800 rows x 8 columns]

In [ ]:
if dataset == 1:
  category_dict = {"Insomnia":0,"ADHD":1,"Obesity":2,"Weight Loss":3,"Acne":4,"Depression":5,"Bipolar Disorde":6,"Anxiety":7,"Birth Control":8,"Pain":9}
  df["Label"] = df["condition"].map(category_dict)
elif dataset == 2:  
  for index,row in df.iterrows():
    row['Director'] = row['Director'].split(",")[0]
# elif dataset == 3:
#   df = df.loc[:,["TITLE","PUBLISHER","CATEGORY"]]
#   category_dict = {"e":0,"t":1,"b":2,"m":3}
#   df.columns = ["Text","Publisher","Category"]
#   df["Label"] = df["Category"].map(category_dict)
df

In [ ]:
df

                                                   Text  ... Label
0     Zac Efron - Zac Efron Open To High School Musi...  ...     0
1     HBO Releases Third "Game Of Thrones" Season 4 ...  ...     0
2     South Nassau Communities Hospital warns thousa...  ...     3
3                         Libya PM ousted by parliament  ...     2
4     Japanese researcher backtracks on 'breakthroug...  ...     3
...                                                 ...  ...   ...
2795  Senator, safety advocates press NHTSA in wake ...  ...     1
2796           Colorado made $3.5m 'pot' tax in January  ...     2
2797  Warm, wet climate aids Mongol Empire's expansi...  ...     1
2798  US STOCKS-Wall Street edges lower after record...  ...     2
2799            Tequila Plant May Be Good For Diabetics  ...     3

[2800 rows x 4 columns]

In [ ]:
import numpy as np

if dataset == 1:
  drug_list = df['drugName']
  drug_set = set(drug_list)
  drug_dict = {}
  for drug in drug_set:
    try:
      drug_dict[drug] = np.array(wiki2vec.get_entity_vector(drug))
    except KeyError:
      pass
elif dataset == 2:
  director_list = df['Director']
  director_set = set(director_list)
  director_dict = {}
  for director in director_set:
    try:
      director_dict[director] = np.array(wiki2vec.get_entity_vector(director))
    except KeyError:
      print(director)
      pass
# elif dataset == 3:
#   publisher_list = df['Publisher']
#   publisher_set = set(publisher_list)
#   publisher_dict = {}
#   for publisher in publisher_set:
#     try:
#       publisher_dict[publisher] = np.array(wiki2vec.get_entity_vector(publisher))
#     except KeyError:
#       print(publisher)

In [ ]:
import pickle

if dataset == 1:
  with open('drug.pickle', 'wb') as handle:
      pickle.dump(drug_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
elif dataset == 2:
  with open('director.pickle', 'wb') as handle:
      pickle.dump(director_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
# elif dataset == 3:
#   with open('publisher.pickle', 'wb') as handle:
#       pickle.dump(publisher_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)